

.header-image {
  background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  color: #fff;

}

.header-nav {
  background: transparent;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.collapsing-nav {
  display: flex;
  justify-content: space-between;

  padding-left: 100px;
  padding-right: 100px;

}

.nav-right-items {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.nav-items {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
}

.nav-items:hover,
.nav-items:focus {
  color: #fff;
}




.content-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.logo-container {
  width: 300px;
  align-self: center;
}

.logo-container img {
  object-fit: contain;
}

.welcome-container {
  align-self: center;
  text-align: center;
}

.welcome-container h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

.search-bar-wrapper {
  height: 50px;
}

.search-bar {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  flex: 1;
  background-color: #fff;
  border-radius: 5px;
}


.location {
  width: 40%;
  align-items: center;
  justify-content: center;
}

.location select,
.location select:focus {
  border: none;
  outline: none;
}

.search-div {
  width: 60%;
  gap: 10px;
}

.search-box {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}




.dining-type-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}


.card-img-div img {
  object-fit: cover;
  height: 150px;
}


/* CollectionCard */
.collection-card {
  height: 400px;
  border: none;
}

.collection-card img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.overlay-text {
  top: 80%
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}




/* Add to cart */

.add-to-cart, .add-to-cart:hover {
  width: 80px;
  height: 30px;
  font-size: 12px;
  background-color: rgb(222, 106, 106);
  color: #fff;
}

.cart-change-buttons{
  border:none;
  height:20px;
  min-width:20px;
  background-color: rgb(222, 106, 106);
  color: #fff;
}

a{
  text-decoration: none;
  color: black;
}
a:hover,a:focus{
  color:black
}



/* Address Form */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}